// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

//Customizando algumas classes
@media (min-width: 576px) {
    .border-sm-0 {
      border: none !important;
    }
  }

@media (min-width: 992px) {
  .w-lg-35 {
    width: 35% !important;
  }
}

@media (min-width: 992px) {
    .shadow-lg-none {
      box-shadow: none !important;
    }
  }

  .min-vh-80 {
    min-height: 80vh !important;
  }

  body {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
  }


  
  
  